:root{
    --background-color: hsl(0, 0%, 90%);
    --list-color:hsl(0, 0%, 98%);
    --main-text-color:hsl(224, 100%, 50%);
    --text-color:black;
}

body{
    margin:0;
    padding:0;
    position: relative;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    margin: auto;
}

.header .text{
    font-size: 2rem;
}

.header .text h2{
    padding: 0;
    margin: 0;
}

.task-input{
    width:fit-content;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}

.input{
    width:300px;
    height: 38px;
    left:0;
    font-size: 1.3rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input:focus{
    border:none;
}

#enterTask{
    height: 40px;
    width:60px;
    right:10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:842px){
    .header{
        width:100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
}

@media (max-width:390px){
    .task-input{
        width:90%;
    }
    .input{
        width:100%;
    }
}

.content{
    width: 100%;
    margin:auto;
    position: relative;
    overflow-x: hidden;
}

.task{
    width:60%;
    height:130px;
    border-radius: 10px;
    background-color: var(--list-color);
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    position: relative;

}

.task .buttons{
    background-color: var(--list-color);
    width:fit-content;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right:0;
    top:-10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.task .buttons #edit{
    width:40px;
    height:40px;
    background-color: var(--list-color);
    border: none;
    border-top-left-radius: 10px;
}

.task .buttons #delete{
    width:40px;
    height:40px;
    background-color: var(--list-color);
    border: none;
    border-top-right-radius: 10px;
}

.task .buttons #delete:hover{
    background-color: hsl(0, 0%, 79%);
}

.task .buttons #edit:hover{
    background-color: hsl(0, 0%, 79%);
}

@media (max-width:900px){
    .task{
        width:80%;
    }
}

@media (max-width:570px){
    .task{
        width:95%;
    }
}

.input-controller{
    width:100%;
    padding-top: 10px;
    padding-left: 10px;
}

.input-controller textarea{
    border: none;
    background-color: transparent;
    color:black;
    font-size:2rem;
    max-width:70%;
    min-width: 70%;
    overflow: scroll;
    height:auto;
}
